fastapi
uvicorn[standard]

pymupdf
python-docx
pandas
openpyxl
markdown
beautifulsoup4

pytesseract
pdf2image
Pillow

openai
ollama

sentence-transformers
scikit-learn
numpy
rank-bm25

python-multipart

requests